streamlit
python-dotenv
google-generativeai
langchain_google_genai
langchain-community
streamlit-authenticator
razorpay
pdf2image
PyPDF2
faiss-cpu
langchain-community
python-pptx
langchain
PyPDF2
faiss-cpu
pypdf